.mainPanel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center; /* adjusted */
}

.contentPanel {
    height: 100%;
}


